/* ---------- Typo ---------- */
body {
  font-family: Arial, serif;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-size: 22px;
  font-weight: bolder;
}

h4 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* ---------- Header ---------- */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header i {
  font-size: 22px;
  position: relative;
  right: 70px;
}
header .header__logo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px;
}
header .header__logo img {
  height: 30px;
}

/* ---------- Form ---------- */
.form {
  width: 100%;
  display: flex;
}
.form input {
  background-color: rgb(234, 234, 234);
  border: 0;
  font-size: 16px;
  font-weight: bold;
  color: black;
  opacity: 1;
}
.form i {
  align-self: center;
  margin-right: 10px;
}
.form__loc {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(234, 234, 234);
  padding: 15px 0;
}

/* ---------- Homes ---------- */
.explo {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 15px 40px 30px 40px;
}

.working {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.working__title {
  width: 100%;
  max-width: 940px;
}
@media (max-width: 900px) {
  .working__title {
    max-width: 300px;
  }
}
.working__box {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .working__box {
    flex-direction: column;
    justify-content: baseline;
  }
}

.resto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 246, 246);
  padding-bottom: 30px;
  gap: 20px;
}
.resto__title {
  width: 100%;
  max-width: 940px;
  padding-left: 20px;
}
.resto__box {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 940px;
}
@media (max-width: 900px) {
  .resto__box {
    flex-direction: column;
    justify-content: baseline;
  }
}

.menu__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  border-radius: 40px 40px 0 0;
  background-color: rgb(246, 246, 246);
  padding-bottom: 30px;
  width: 100%;
  gap: 20px;
  position: relative;
  bottom: 50px;
}
.menu__title {
  width: 100%;
  max-width: 300px;
  padding-left: 20px;
}
.menu__box {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 940px;
}
@media (max-width: 900px) {
  .menu__box {
    flex-direction: column;
    justify-content: baseline;
  }
}

footer {
  background-color: rgb(53, 53, 53);
  padding: 20px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
footer a {
  color: white;
  margin-bottom: 5px;
}
footer i {
  margin-right: 5px;
  width: 15px;
  font-size: 14px;
}
footer .footer__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  footer .footer__box {
    align-items: baseline;
  }
}
footer .footer__link_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 900px) {
  footer .footer__link_box {
    align-items: baseline;
  }
}
footer .footer__logo {
  display: flex;
  width: 100%;
  height: 18px;
  margin-bottom: 15px;
  filter: invert(100%);
  justify-content: center;
}
@media screen and (max-width: 900px) {
  footer .footer__logo {
    justify-content: left;
  }
}

.button_search {
  border: 0;
  border-radius: 30px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  font-size: 16px;
  padding: 15px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card-working {
  display: flex;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(246, 246, 246);
}
.card-working__icon {
  margin-right: 20px;
  color: gray;
}
.card-working__icon--highlight {
  color: #9356DC;
}
.card-working--highlight_back {
  background-color: rgba(146, 86, 220, 0.1215686275);
}

.card-resto {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(246, 246, 246);
}
.card-resto__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.card-resto__description {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card-resto__txt {
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}
.card-resto__icon {
  align-self: center;
  padding: 10px;
}

.card-menu {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(246, 246, 246);
}
.card-menu__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.card-menu__description {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card-menu__txt {
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}
.card-menu__icon {
  align-self: center;
  padding: 10px;
}

.circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 5px;
  background: #9356DC;
  color: white;
  text-align: center;
  line-height: 10px;
  font: 14px Arial, sans-serif;
  font-weight: bold;
  position: relative;
  right: 10px;
}

/*# sourceMappingURL=style.css.map */
