/* ---------- Typo ---------- */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&family=Shrikhand&display=swap");
html {
  overflow-x: hidden;
}

body {
  font-family: Roboto, Arial, serif;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: Shrikhand;
  font-size: 26px;
  font-weight: bolder;
}

h4 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.menu__box .card-menu:nth-child(1) {
  animation-delay: 0.2s;
}

.menu__box .card-menu:nth-child(2) {
  animation-delay: 0.4s;
}

.menu__box .card-menu:nth-child(3) {
  animation-delay: 0.6s;
}

.menu__box .card-menu:nth-child(4) {
  animation-delay: 0.8s;
}

/* ---------- Header ---------- */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 246, 246);
}
header i {
  font-size: 22px;
  position: fixed;
  left: 20px;
}
header .header__logo {
  background-color: white;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 20px 0 20px 0;
}
header .header__logo img {
  height: 30px;
}

/* ---------- Form ---------- */
.form {
  width: 100%;
  display: flex;
}
.form__loc {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(234, 234, 234);
  padding: 15px 0;
}
.form__loc i {
  position: relative !important;
  margin-right: 30px;
  align-self: center;
}
.form__loc input {
  background-color: rgb(234, 234, 234);
  border: 0;
  font-size: 16px;
  font-weight: bold;
  color: black;
  opacity: 1;
  height: 100%;
}

/* ---------- Homes ---------- */
.explo {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}

.working {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: white;
}
.working__title {
  width: 100%;
  max-width: 940px;
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .working__title {
    max-width: 300px;
    width: 90%;
  }
}
.working__box {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1280px) {
  .working__box {
    flex-direction: column;
    justify-content: initial;
  }
}

.resto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 246, 246);
  padding-bottom: 30px;
  gap: 20px;
}
.resto__title {
  width: 100%;
  max-width: 940px;
}
@media (max-width: 1280px) {
  .resto__title {
    max-width: 480px;
    width: 90%;
  }
}
.resto__box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 1160px;
}
.resto__box a {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: center;
}
@media (max-width: 1280px) {
  .resto__box {
    flex-direction: column;
    justify-content: initial;
  }
  .resto__box a {
    width: 100%;
  }
}

/*main {
    background-color: rgb(246, 246, 246);
}*/
.img_box {
  width: 100%;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
}
@media (max-width: 600px) {
  .img_box {
    height: 250px;
  }
}

.menu__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.dish-box {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 100%;
  max-width: 1200px;
  vertical-align: top;
  padding-top: 20px;
  gap: 10px;
}
.dish-box .dish {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1000px) {
  .dish-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
  margin: auto;
  padding-bottom: 20px;
  width: 70%;
}
@media (max-width: 1400px) {
  .menu {
    width: 100%;
  }
}
.menu__name {
  display: flex;
  align-items: center;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 50px;
  z-index: 3;
  background-color: rgb(246, 246, 246);
  justify-content: center;
  width: 100%;
  height: 51px;
  margin-bottom: -50px;
}
.menu__name--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  padding: 40px 30px 0 30px;
  margin-bottom: 20px;
}
.menu__title {
  width: 100%;
  max-width: 400px;
  padding-left: 40px;
}
.menu__title h2 {
  font-size: 20px;
  font-weight: 300;
}
.menu__box {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  max-width: 940px;
}
@media (max-width: 1000px) {
  .menu__box {
    flex-direction: column;
    justify-content: initial;
  }
}

h2 {
  margin-bottom: 0;
}

hr {
  display: block;
  width: 50px;
  color: aquamarine;
  border: 0;
  border-top: 3px solid #99E2D0;
  margin: 0;
  padding: 0;
}

footer {
  background-color: rgb(53, 53, 53);
  padding: 20px 0 0 0;
  margin: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
footer a {
  color: white;
  margin-bottom: 5px;
}
footer i {
  margin-right: 5px;
  width: 15px;
  font-size: 14px;
}
footer .footer__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 900px) {
  footer .footer__box {
    align-items: baseline;
    width: 90%;
  }
}
footer .footer__link_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 900px) {
  footer .footer__link_box {
    align-items: baseline;
  }
}
footer .footer__logo {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  filter: invert(100%);
  justify-content: center;
}
footer .footer__logo img {
  width: 120px;
}
@media screen and (max-width: 900px) {
  footer .footer__logo {
    justify-content: left;
  }
}

.btn-gradient {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  margin: 20px;
  border: 0;
  border-radius: 30px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  font-size: 16px;
  padding: 15px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-gradient:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to top left, #985ede, #ff83dd);
}

.btn-favorite {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  font-family: "Material Icons";
  font-size: 30px;
}
.btn-favorite::after {
  content: "\e87e";
  transition: all 400ms;
}
.btn-favorite:hover::after {
  content: "\e87d";
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
}

.card-working {
  display: flex;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(246, 246, 246);
}
.card-working__icon {
  margin-right: 20px;
  color: gray;
}
.card-working__icon--highlight {
  color: #9356DC;
}
.card-working--highlight_back {
  background-color: rgba(146, 86, 220, 0.1215686275);
}

.card-resto {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(246, 246, 246);
}
.card-resto .material-icons.base {
  font-size: 30px;
  align-self: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-resto .material-icons.base:hover {
  display: none;
}
.card-resto .material-icons.hover {
  display: none;
  font-size: 30px;
  align-self: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-resto__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.card-resto__description {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card-resto__txt {
  width: 90%;
  padding: 10px 10px 10px 15px;
  margin: 0;
  box-sizing: border-box;
}
.card-resto__txt p {
  margin: 0 0 5px 0;
}
.card-resto__icon {
  display: flex;
  width: 10%;
  align-self: center;
  padding: 10px;
  justify-content: center;
}

.new {
  display: flex;
  align-self: flex-end;
  position: relative;
  bottom: 150px;
  right: 10px;
  background-color: rgb(112, 228, 189);
  padding: 10px;
  color: rgb(1, 83, 1);
}

.icheck {
  font-size: 24px;
  color: white;
}

.card-menu {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  height: 68px;
  width: 100%;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  opacity: 0;
  animation: dish_anim 1s forwards;
  justify-content: space-between;
}
.card-menu:hover .card-menu__check {
  width: 60px;
  right: 0;
  overflow: hidden;
}
.card-menu:hover .icheck {
  animation: check_rotate 0.5s;
}
.card-menu:hover .card-menu__txt {
  width: 60%;
}
@media (max-width: 350px) {
  .card-menu:hover .card-menu__txt {
    width: 50%;
  }
}
.card-menu:hover .card-menu__description {
  width: 80%;
}
@media (max-width: 350px) {
  .card-menu:hover .card-menu__description {
    width: 70%;
  }
}
.card-menu__check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 10px;
  position: absolute;
  right: -10px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  transition: all 400ms ease;
}
.card-menu__description {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  transition: all 400ms ease;
  align-items: flex-end;
}
.card-menu__txt {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px 10px 10px 15px;
  margin: 0;
  transition: all 400ms ease;
}
@media (max-width: 350px) {
  .card-menu__txt {
    width: 60%;
  }
}
.card-menu__txt--dish {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0 0 0;
}
.card-menu__txt--detail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
}
.card-menu__price {
  display: flex;
  width: 10%;
  align-self: flex-end;
  padding: 10px;
}

@keyframes check_rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes dish_anim {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 5px;
  background: #9356DC;
  color: white;
  text-align: center;
  line-height: 10px;
  font: 14px Arial, sans-serif;
  font-weight: bold;
  position: relative;
  right: 10px;
}

.loader {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  z-index: 3;
  animation: loader 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.loader__anim {
  animation: rotate 1.5s infinite;
  height: 50px;
  width: 50px;
}
.loader__anim::before {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  animation: ball1 1.5s infinite;
  background-color: #9356DC;
  box-shadow: 30px 0 0 #9356DC;
  margin-bottom: 10px;
}
.loader__anim::after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  animation: ball2 1.5s infinite;
  background-color: #FF79DA;
  box-shadow: 30px 0 0 #FF79DA;
}

@keyframes loader {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #99E2D0;
  }
  50% {
    box-shadow: 0 0 0 #99E2D0;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #99E2D0;
    margin-bottom: 10px;
  }
}
@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #9356DC;
  }
  50% {
    box-shadow: 0 0 0 #9356DC;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #9356DC;
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
