.button_search {
    border: 0;
    border-radius: 30px;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA); 
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
}