
.card-working {
    display: flex;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(246, 246, 246);
    &__icon {
        margin-right: 20px;
        color: gray;
        &--highlight {
            color: #9356DC;
        }
    }
    &--highlight_back {
        background-color: #9256dc1f;
    }
    
}

.ic{
    font-size: 40px;      
    background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
    background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
    background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
   }
.ic i:before {
    display: inline;
  }

.card-resto {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(246, 246, 246);
    .material-icons {
        &.base { 
            font-size: 30px;
            align-self: center;
            background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
            &:hover {
                display: none;
            }
        }
    }
    .material-icons {
        &.hover { 
            display: none;
            font-size: 30px;
            align-self: center;
            background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        }
    }
    &__img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    &__description {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__txt {
        width: 90%;
        padding: 10px 10px 10px 15px;
        margin: 0;
        box-sizing: border-box;
        p {
            margin: 0 0 5px 0;
        }
    }
    &__icon {
        width: 10%;
        align-self: center;
        padding: 10px;
    }
}

.card-menu {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(246, 246, 246);
    @media (max-width: 900px) {
        background-color: white;   
    }
    &__img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    &__description {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__txt {
        width: 90%;
        padding: 10px 10px 10px 15px;
        margin: 0;
        box-sizing: border-box;
        p {
            margin: 5px 0 0 0;
        }
    }
    &__price {
        width: 10%;
        align-self: flex-end;
        padding: 10px;
    }
}