
.card-working {
    display: flex;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(246, 246, 246);
    &__icon {
        margin-right: 20px;
        color: gray;
        &--highlight {
            color: #9356DC;
        }
    }
    &--highlight_back {
        background-color: #9256dc1f;
    }
    
}

.card-resto {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(246, 246, 246);
    .material-icons {
        &.base { 
            font-size: 30px;
            align-self: center;
            background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
            &:hover {
                display: none;
            }
        }
    }
    .material-icons {
        &.hover { 
            display: none;
            font-size: 30px;
            align-self: center;
            background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        }
    }
    &__img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    &__description {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__txt {
        width: 90%;
        padding: 10px 10px 10px 15px;
        margin: 0;
        box-sizing: border-box;
        p {
            margin: 0 0 5px 0;
        }
    }
    &__icon {
        width: 10%;
        align-self: center;
        padding: 10px;
    }
}

.icheck {
    font-size: 0;

}

.card-menu {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 68px;
    width: 320px;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    opacity: 0;
    animation: dish_anim 1s forwards;
    transition: all 400ms;
    &:hover {
        .card-menu__check {
            width: 20%;
            height: 100%;
            background-color: $color-tertiary;
            transform: translateX(0%);
            overflow: hidden;
        }
        .icheck {
            font-size: 24px;
            color: white;
            animation: check_rotate 0.5s;
        }
        .card-menu__txt {
            width: 50%;
        }
        .card-menu__description {
            width: 80%;
        }
    }
    &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        height: 100%;
        //width: 0px;
        background-color: $color-tertiary;
        border-radius: 0 20px 20px 0;
        transform-origin: 100% 50%;
        transform: translateX(100%);
        transition: transform 400ms;
    }
    &__description {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-content: center;
        
    }
    &__txt {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 10px 10px 10px 15px;
        margin: 0;
        &--dish {
            white-space: nowrap;
            margin: 5px 0 0 0;
        }
        &--detail {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: small;
        }
    }
    &__price {
        width: 10%;
        align-self: flex-end;
        padding: 10px;
    }
}

@keyframes check_rotate{
	from {
        transform: rotate(-180deg)
    }
    to {
		transform: rotate(0deg)
    }
}

@keyframes dish_anim{
	from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
		transform: translateY(0);
        opacity: 1;
    }
}
