.circle {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 5px;
    background: #9356DC;
    color: white;
    text-align: center;
    line-height: 10px;
    font: 14px Arial, sans-serif;
    font-weight: bold;
    position: relative;
    right: 10px;
  }
