.explo {
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 15px 40px 30px 40px;
}

.working {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    background-color: white;
    &__title {
        width: 100%;
        max-width: 940px;
        margin-bottom: 20px;
        @media (max-width: 900px) {
            max-width: 300px;
        }
    }
    &__box {
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 20px;
        align-items: center;
        justify-content: center;
        @media (max-width: 900px) {
            flex-direction: column;
            justify-content: initial;
        }
    }
    
}

.resto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding-bottom: 30px;
    gap: 20px;
    &__title {
        width: 100%;
        max-width: 940px;
        @media (max-width: 900px) {
            max-width: 300px;
        }
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 90%;
        gap: 20px;
        align-items: center;
        justify-content: center;
        max-width: 1160px;
        a {
            display: flex;
            flex-direction: row;
            width: 40%;
            justify-content: center;
        }
        @media (max-width: 900px) {
            flex-direction: column;
            justify-content: initial;
            a {
                width: 100%;
            }
            
        }
    }
}

