/*main {
    background-color: rgb(246, 246, 246);
}*/

.img_box {
    width: 100%;
    height: 400px;
    overflow:hidden;
    object-fit: cover;
    //z-index: 1;
    @media (max-width: 600px) {
        height: 250px;     
    }
}
.menu__img {
    //display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    //overflow:hidden;
    //@media (max-width: 400px) {
    //    height: 250px;     
    //}
}


.dish-box {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: 100%;
    max-width: 1200px;
    vertical-align: top;
    padding-top: 20px;
    gap: 10px;
    .dish {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        width: 100%;
        max-width: 400px;
        align-items: center;
        gap: 10px;
    }
    @media (max-width: 1000px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
    margin: auto;
    padding-bottom: 20px;  
    width: 70%;
    @media (max-width: 1400px) {
        width: 100%;     
    }
    &__name {
        display: flex;
        align-items: center;
        border-radius: 40px 40px 0 0;
        position: relative;
        bottom: 50px;
        z-index: 3;
        background-color: rgb(246, 246, 246);
        justify-content: center;
        width: 100%;
        height: 50px;
        margin-bottom: -50px;
        //}
        &--box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 350px;
            padding: 40px 30px 0 30px;
            margin-bottom: 20px;
        }
    }
    &__title {
        width: 100%;
        max-width: 400px;
        padding-left: 40px;
        h2 {
            font-size: 20px;
            font-weight: 300;
        }
        
    }
    &__box {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 20px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
        max-width: 940px;
        @media (max-width: 1000px) {
            flex-direction: column;
            justify-content: initial;
            //background-color: rgb(246, 246, 246);
            
        }
    }
}

h2 {
    margin-bottom: 0;
}

hr {
    display: block;
    width: 50px;
    color: aquamarine;
    border: 0;
    border-top: 3px solid #99E2D0;
    margin: 0;
    padding: 0;
}


