.form {
    width: 100%;
    display: flex;
    input {
        background-color: rgb(234, 234, 234);
        border: 0;
        font-size: 16px;
        font-weight: bold;
        color: black;
        opacity: 1;
    }
    
    &__loc {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: rgb(234, 234, 234);
        padding: 15px 0;
        i {
            display: flex;
            align-self: center;
            margin-right: 10px;
        }
    }
}


